.head-title{
	position: absolute;
	top: 0;
	left: 0;
	height: 70px;
	width: 100%;
	background-color: rgba(0,0,0,0.2);
	/*border: 1px solid rgba(0,0,0,0.2);*/
	/*box-shadow: 0 0 13px 1px rgba(0,0,0,0.5);*/
	overflow: hidden;
}

.title-block{
	float: left;
	height: 70px;
	width: 100px;
	color: white;
	font: "arial narrow";
	text-align: center;
	font-weight: lighter;
	font-size: 22px;
	display: block;
	text-decoration:none;
	padding: 22px;
}

.title-block i{
	margin-right: 5px;
}


.title-block:hover{
	background-color: rgba(255,255,255,0.2);
	box-shadow: 0 0 13px 1px rgba(0,0,0,0.1);
}
.bgPic {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url(../img/bg.jpg) no-repeat;
	/*display: block;*/
	overflow: hidden;
	text-align: center;
	color: white;
	text-align: center;
}

.bgPic .fonts{
	position: absolute;
	top: 40%;
	left: 0;
	text-align: center;
	color: white;
	font-weight: bold;
	width: 100%;
	font-size: 40px;
	text-shadow: 5px 5px 12px rgba(211,211,211,0.2);
}

a{
	text-decoration: none;
	color: white;
}


.info{
	background-color: rgba(0,0,0,0.5);
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
